serial --unit=0 --speed=115200
terminal_input serial
terminal_output serial
insmod hello
insmod chain
insmod boot
insmod gcry_sha256
search --label DATA --set=root
set timeout=10
set default=0
bootiso_menu /iso
